body{
    margin: 0;
    padding:20px 100px;
   
}

h1{
    text-align: center;
    text-decoration: underline;
}

.container img{
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.btn{
    width: 20px;
    height: 30px;
    border: 2px solid grey;
    border-radius: 50%;
    cursor: pointer;
}

#white{
    background-color: white;
    
}

#aque{
    background-color: #00FFFF;
}

#violet{
    background-color:#8F00FF;
}

#black{
    background-color: black;
}

#color-switch{
    text-align: right;
}